.header {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 80px;
	background-color: #ffffff;
	z-index: 10;

	&__content {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		width: 1000px;
	}
}
