.ReadyQueue {
	width: 100vw;

	&__row {
		display: flex;
		justify-content: flex-start;
		margin: 0 auto;
		width: 1000px;
	}
	&__queue {
		flex: 0 0 auto;
		margin: 0 auto;
		border: 2px solid black;
		width: 800px;
		height: 54px;
		display: flex;
		justify-content: flex-start;
	}
	&__task {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
	}
}
